# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Editors
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db